.banner {
    background-image: url("../images/blur-game.jpg");
    background-size: cover;
    background-position: center;
    padding: 175px 0;
    height: 90vh;
    text-align: center;
}
.container {
    width: 900px;
    margin: auto;
}
.banner h1 {
    color: black;
    text-align: center;
}
.banner p {
    color: black;
    opacity: .7;
    font-size: 20px;
    text-align: center;
}
.btn-primary {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.btn-primary:hover {
  background-color: #17b76d;
}
